<a href="https://colab.research.google.com/github/jmarlon/paleofiredb/blob/main/fire_curvegen_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Install the bigrquery package
install.packages("bigrquery")
# Load the bigrquery package
library(bigrquery)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [15]:
# Load the DBI package (this package is what was used in original RPD scripts)
library(DBI)

In [16]:
# Connect to the rpd database through google bigquery
con <- dbConnect(
  bigrquery::bigquery(),
  project = "fire-data-research",
  dataset = "rpd"
)

In [21]:
# dbListTables(con)

sql <- "SELECT * FROM fire-data-research.rpd.sample"
dbGetQuery(con, sql, n = 10)

# TODO: generate chronplot for a sample

   ID_ENTITY ID_SAMPLE avg_depth sample_thickness charcoal_measurement
1  1         1292      6.735     0.01             2
2  1         1306      6.805     0.01             2
3  1         1330      6.925     0.01             2
4  1         1180      6.145     0.01             3
5  1         1272      6.635     0.01             3
6  1         1298      6.765     0.01             3
7  1         1334      6.945     0.01             3
8  1         1014      5.205     0.01             4
9  1         1066      5.465     0.01             4
10 1         1288      6.715     0.01             4
   analytical_sample_size analytical_sample_size_unit
1  5                      cm3
2  5                      cm3
3  5                      cm3
4  5                      cm3
5  5                      cm3
6  5                      cm3
7  5                      cm3
8  5                      cm3
9  5                      cm3
10 5                      cm3